#cssmenu
  .container
    h1 
      a(href='/') Public Transport system
    ul
      li
        a(href='/search')
          i.fa.fa-search
          span  IÅ¡Äi
      li
        a(href='/addRoute')
          i.fa.fa-plus
          span  Dodaj
      li
        a(href='/rate')
          span
            i.fa.fa-thumbs-up
            |  Oceni
      li.last
        a(href='/logout')
          i.fa.fa-sign-out
          span  Odjava

